__pycache__/
*.pyc
.env
.Rproj.user
/data/raw_data/*
!/data/raw_data/README.md
!/data/raw_data/readme.md
!/data/raw_data/**/README.md
!/data/raw_data/**/readme.md
/data/derived_data/*
!/data/derived_data/README.md
!/data/derived_data/**/README.md
/data/plots/*
!/data/plots/README.md
!/data/plots/**/README.md
*.log
test.ipynb
.snakemake
test.ipynb
.snakemake
google_key.txt
*.rdata
*.Rproj
*.html
*.png
test.ipynb
/.vscode
python/.vscode/extensions.json
/archive
/notebooks

