__pycache__/
*.pyc
.env
.Rproj.user
/data/raw_data
/data/derived_data
/data/plots
*.log
test.ipynb
.snakemake
test.ipynb
.snakemake
google_key.txt
*.rdata
*.Rproj
*.html
*.png
test.ipynb
/.vscode
python/.vscode/extensions.json
/archive
/notebooks

