__pycache__/
*.pyc
.env
.Rproj.user
/data
*.log
test.ipynb
.snakemake
test.ipynb
.snakemake
*.rdata
*.Rproj
*.html
*.png
test.ipynb
/.vscode
python/.vscode/extensions.json
scripts/visualisations.ipynb